body {
    background: rgb(25, 25, 27);
    color : rgb(252, 252, 252);
    max-width:600px;
    margin: auto;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

p {
    line-height: 2.2;
}

article + article
 {
    margin-top:4rem ;
    padding-top: 3rem;
    border-top: 3px solid rgb(104, 0, 240) ;
 }
